# MacOS related files
.DS_Store

# RubyMine
.idea/

# Ruby gemset and version
.ruby-version
.ruby-gemset

# Reports from profilers
optimization_reports/

# Data files
data_*.txt

# JSON files
*.json

# valgrind output
massif.out.*